# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Переменные окружения
*.env

# Optional npm cache directory
.npm

# Заметки
notes.md

# Загружаемые картинки
upload

# Optional REPL history
.DS_Store
.idea
.vscode